<!-- Site Footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">

            <!-- Column 1: Branding & Social Media -->
            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <a href="#" class="footer-brand">Wanderlust</a>
                <div class="social-icons mt-3">
                    <!-- Placeholder icons (replace F, I, T with actual icons like Font Awesome) -->
                    <a href="#" aria-label="Facebook">F</a>
                    <a href="#" aria-label="Instagram">I</a>
                    <a href="#" aria-label="Twitter">T</a>
                </div>
            </div>

            <!-- Column 2: Quick Links -->
            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <h5 class="footer-heading">Quick Links</h5>
                <ul class="footer-list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- Column 3: Support & Resources -->
            <div class="col-lg-4 col-md-12 col-12">
                <h5 class="footer-heading">Support & Help</h5>
                <ul class="footer-list">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">How it Works</a></li>
                    <li><a href="#">Host Your Home</a></li>
                </ul>
            </div>
        </div>

        <!-- Copyright Bottom Bar -->
        <div class="row">
            <div class="col-12">
                <div class="footer-bottom">
                    &copy; <%= new Date().getFullYear() %> Wanderlust, Inc. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
