<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% layout('/layouts/boilerplate') %>
    <div class="hero-section">
        <div>
            <h1>Uncover your next adventure</h1>
        </div>

    </div>
    
</body>
</html>